cert-manager:
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: ${assumable_role_arn}
  clusterIssuers:
    letsencrypt:
      enabled: true
    acme:
      solvers:
        - dns01:
            route53:
              region: ${aws_default_region}
          selector:
            dnsZones:
              - ${base_domain}
        - http01:
            ingress: {}
